<%- include('./header.ejs') %>
<div class="main d-flex align-items-center justify-content-center">
    <div class="form-login p-4 rounded">
        <section>
            estamos no index
            <a href="login">Login</a>
        </section>
    </div>
</div>