<%- include('../../../views/header.ejs') %>
<div class="main d-flex align-items-center justify-content-center">
    <div class="form-login p-4 rounded">
        <p class="alert alert-info">
            Acesse seu e-mail e siga os passos que enviamos para efetuar a redefinição de senha.. 
        </p>
        <a href="/"><button class='btn btn-primary'>Voltar</button></a>
    </div>
</div>