<%- include('../../../views/header.ejs') %>
<div class="main d-flex align-items-center justify-content-center">
    <div class="form-login p-4 rounded">
        <p class="alert alert-success">
            profile <%= name %>
        </p>
        <a class="btn rounded-pill btn-outline-success" href="/login/logout" role="button">sair</a>
    </div>
</div>

